@charset "UTF8";

/*基本項目　
_______________________________________________________________*/

html {
    font-size: 100%;
}

body {
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*PC用
＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿*/



.page-header a {
    display: block;
    color: #432;
    font-family: serif;
    font-size: 100px;
    word-spacing: 50px;
    padding: 180px 0 0 520px;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}




.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#news {
    background-image: url(../images/ヘッダー/wp10465336-basketball-pc-wallpapers.jpg);
    height: 520px;
    margin-bottom: 40px;
}


.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.news-contents img {
    width: 700px;
    margin-bottom: 30px;
}

.news-contents h3 {
    font-size: 30px;
    margin-top: 50px;
}

.news-contents p {
    font-size: 18px;
}

.news-contents span {
    color: #0bd;
    font-size: 14px;
}

article {
    width: 74%;
}

aside {
    width: 24%;
}



.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 40px;
    font-weight: normal;

}

.sub-title {
    font-size:30px ;
    margin: 50px 0 0 40px;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu {
    font-size: 18px;
    margin-bottom: 60px;
    list-style: none;

}

.sub-menu li {
    border-bottom: 1px #ddd solid;
    margin-bottom: 15px;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

.sub-menu a.current {
    color: #0bd;
	pointer-events: none;  /* リンクのhoverを無効に */
	cursor: default;  /* カーソルをデフォルトに */
}



/*　team intro
___________________________________________________*/



.team-intro h3 {
    font-size: 50px;
    font-family: serif;
    text-align: center;
    margin-bottom: 60px;
}


.team-logo {
    display: flex;
    justify-content: center;
}

.team-logo p {
    padding: 100px;
    line-height: 50px;
    font-size: 20px;
}

.team-logo img {
    height: 400px;
    width: 400px;
}


.team-explain {
    
    font-size: 20px;
    line-height: 50px;
    margin: 50px 120px 0 120px;
}

.player {
    margin: 80px 0 40px 0;
}


.player img {
    
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 600px;
   
    
}

.player-explain {
    
    font-size: 20px;
    line-height: 60px;
    margin: 0 120px 200px 120px;
}


/*ナビ
＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿*/



.nav {
    text-align: center;
}

.nav a {
	color: #0bd;
	text-decoration: none;
	}
.nav a:hover {	
	color: #ff006f;
	text-decoration: underline;
	}
.nav a.current {
	color: #ff006f;
	pointer-events: none;  /* リンクのhoverを無効に */
	cursor: default;  /* カーソルをデフォルトに */
	}



.nav ul {
    display: flex;
    justify-content: center;
    
    
}    

.nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 30px;
    
}    




/*スマートフォン用
_______________________________________________________________*/

@media (max-width: 600px) {
    .news-contents {
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    aside {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .page-header a {
        display: block;
        color: #432;
        font-family: serif;
        font-size: 40px;
        word-spacing:normal;
        padding: 100px 0 0 140px;
    }
    
    #news {
        background-image: url(../images/ヘッダー/wp10465336-basketball-pc-wallpapers.jpg);
        height: 270px;
        margin-bottom: 40px;
    }

    .post-title {
        font-size: 30px;
    }

    .news-contents h3 {
        font-size: 20px;
        margin-top: 50px;
    }

    .news-contents p {
        font-size: 14px;
    }

    .news-contents span {
        color: #0bd;
        font-size: 10px;
    }

    .sub-title {
        font-size: 20px;
        margin: 0 auto;
        border-bottom: 2px #0bd solid;
        font-weight: normal;
        text-align: center;
        margin-top: 40px;
    }

    .sub-menu {
        text-align: center;
        font-size: 14px;
        list-style: none;
        margin-right: 40px;
    
    }

    /*team intro
    _________________________________________*/

    
    
    .team-intro h3 {
        font-size: 30px;
        font-family: serif;
        text-align: center;
        margin-bottom: 20px;
    }
    
    
    .team-logo {
       flex-direction: column;
    }
    
    .team-logo p {
        line-height: 30px;
        font-size: 10px;
        padding:30px 0 0 70px;
        
    }
    
    .team-logo img {
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
    
    
    .team-explain {
        font-size: 14px;
        line-height: 25px;
        margin: 50px 0 0 0;
    }
    
    .player {
        margin: 80px 0 40px 0;
    }
    
    
    .player img {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: 300px;
       
        
    }
    
    .player-explain {
        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 25px;
        margin:0 0 40px 0;
    }
    
    /* nav
    ____________________________________*/


    .nav {
        text-align: center;
        display: block;
        justify-content: center;
        margin-right: 45px;
    }
    
    .nav a {
        color: #0bd;
        text-decoration: none;
        }
    .nav a:hover {	
        color: #ff006f;
        text-decoration: underline;
        }
    .nav a.current {
        color: #ff006f;
        pointer-events: none;  /* リンクのhoverを無効に */
        cursor: default;  /* カーソルをデフォルトに */
        }
    
    
    
    .nav ul {
        display: flex;
        justify-content: center;
        text-align: center;
        
        
        
    }    
    
    .nav li {
        list-style: none;
        margin-left: 10px;
        font-size: 15px;
        
    }    
    



}